* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  background-color: rgb(219, 219, 219);
  color: #000;
}
/* 
  TO DO ON REVISIT: 
    1. review https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units/
      1.a. TL;DR: try setting html font-size to calc(1em+1vw) for responsive typography & clean up media queries
    2. switch from max-width to min-width - mobile first! - first make it look good at 320px (20em), then scale up
*/
:focus-visible {
  outline: 4px dashed #000;
}
:focus:not(:focus-visible) {
  outline: none;
}
input,
textarea {
  font-size: inherit;
  font-family: inherit;
  resize: none;
}
h1 {
  font-family: "Amatic SC", cursive;
  font-size: 4rem;
}
h2 {
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
}
h3 {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
}
small {
  font-size: 0.625rem;
}
ul {
  list-style-type: none;
}
p {
  margin: 1em 0;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 133);
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}
.section {
  scroll-margin-top: 6.25em;
  margin: 0 0 2% 0;
}
.header {
  display: flex;
  flex-flow: row wrap;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(107, 164, 166, 0.9);
  margin-bottom: 0.5rem;
}
.header__name {
  flex: 2 1 auto;
  display: flex;
  align-items: flex-start;
}
.header__logo {
  width: 5rem;
  margin: 0 1rem;
}
.header__title {
  padding-top: 0.75rem;
}
.header__nav {
  flex: 1 2 auto;
  display: flex;
}
.nav-list {
  display: flex;
  flex-flow: row wrap;
  flex: 1 auto;
  justify-content: flex-end;
  align-items: flex-end;
}
.nav-list__item {
  padding: 1em;
  font-variant: small-caps;
}
@media (max-width: 55em){
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  .header__logo {
    width: 4.5rem;
  }
  .header {
    flex-flow: column wrap;
  }
  .header__name {
    justify-content: center;
  }
  .nav-list {
    justify-content: space-around;
  }
}
.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}
.video-wrapper {
  flex: 1 1 31.33%;
  display: flex;
  align-items: center;
  margin: 0.25rem;
  min-width: 18.75em;
}
.about__video {
  width: 100%;
}
.about__text {
  flex: 1 1 60%;
  margin: 0.25rem;
  min-width: 18.75em;
}
@media (max-width: 51em) {
  .about__text {
    display: flex;
    flex-flow: column nowrap;
  }
  .about__header {
    align-self: center;
  }
}
.txt-ctr {
  text-align: center;
}
.products__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card {
  margin: 0.25rem;
  padding: 0.5rem;
  border: 2px dotted #000;
  flex: 0 15rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgba(107, 164, 166, 0.25);
}
.card__img {
  width: 5rem;
}
.card__pricing {
  font-style: italic;
}
.card__list {
  list-style-type: circle;
}
.contact {
  display: flex;
  flex-flow: column nowrap;
  max-width: 700px;
  margin: 0 auto;
}

.contact__form {
  display: flex;
  flex-flow: column nowrap;
}
.contact__id {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.contact__component {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 2% 2% 2%;
}
.contact__component--id {
  flex: 0 1 46%;
}
@media (max-width: 34em) {
  .contact__component--id {
    flex: 1 1 48%;
  }
  h1 {
    font-size: 2.75rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  .header {
    flex-flow: column wrap;
  }
  .header__logo {
    width: 3.75rem;
  }
}
@media (max-width: 27em) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  .header__logo {
    width: 3rem;
  }
}
